@model Category

<h3>Edit Category</h3>
<form method="post" asp-action="Edit"> 
    <input type="hidden" asp-for="Id" />
    <div class="form-group mb-2">
        <label for="Name" asp-for="Name">Name</label>
        <input type="text" name="Name" id="Name" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label for="Description" asp-for="Description">Description</label>
        <input type="text" name="Description" id="Description" class="form-control" asp-for="Description" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}